<a href="https://colab.research.google.com/github/Cebisad/Titanic-Beginner/blob/main/Titanicp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [3]:
titanic_data = pd.read_csv('/titanic_train.csv')

In [26]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,0

In [11]:
titanic_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [6]:
titanic_data = titanic_data.drop(columns='Cabin', axis=1)

In [7]:
titanic_data['Age'].fillna(titanic_data['Age'].mean(), inplace=True)

In [8]:
print(titanic_data['Embarked'].mode())

0    S
dtype: object

In [9]:
titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0], inplace=True)

In [10]:
titanic_data.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)

In [39]:
X = titanic_data.drop(columns = ['PassengerId','Survived','Name','Ticket','SibSp','Parch'],axis=1)

In [40]:
X.head()

   Pclass  Sex   Age     Fare  Embarked
0       3    0  22.0   7.2500         0
1       1    1  38.0  71.2833         1
2       3    1  26.0   7.9250         0
3       1    1  35.0  53.1000         0
4       3    0  35.0   8.0500         0

In [41]:
Y = titanic_data['Survived']

In [42]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state=2)

In [43]:
model = LogisticRegression()

In [44]:
model.fit(X_train, Y_train)

LogisticRegression()

In [45]:
X_train_prediction = model.predict(X_train)

In [46]:
training_data_accuracy = accuracy_score(Y_train, X_train_prediction)

In [47]:
print('Accuracy score of training data : ', training_data_accuracy)

Accuracy score of training data :  0.8089887640449438

In [51]:
X_test_prediction = model.predict(X_test)

In [52]:
test_data_accuracy = accuracy_score(Y_test, X_test_prediction)

In [53]:
print('Accuracy score of test data : ', test_data_accuracy)

Accuracy score of test data :  0.776536312849162

In [54]:
input_data = (1,1,35,53.1,0) #Random person

In [55]:
input_data_as_numpy_array = np.asarray(input_data)

In [56]:
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

In [57]:
prediction = model.predict(input_data_reshaped)
#print(prediction)
if prediction[0]==0:
  print("Dead")
if prediction[0]==1:
  print("Alive")

Alive

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"